/* reset do css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image:linear-gradient(-90deg,#00a896, #05668D );
  background-size: auto 100vh; 
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
  font-size: 12px;
}

/*Se a tela tiver pelo menos 400 px ele irá aplicar as regras*/
@media (min-width: 400px) {
  body {
  font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
  font-size: 18px;
  }
}
@media (min-width: 1200px) {
  body {
  font-size: 24px;
  }
}

header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu {
  background-color:#e3ecfc;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
  font-family: 'Archivo Black', sans-serif;
}

.menu a {
  display: block;
  padding: 10px 20px;
  color:#028090;
  text-decoration: none;
  transition: background-color, color, 1s;
}

.menu a:active,
.menu a:hover{
  background-color:#028090 ;
  color: #e3ecfc;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.titulo{
  transform: scale(0.2) translateY(50vh);
  opacity: 0.5;
  animation: linear 1s animatitulo forwards;
}

@keyframes animatitulo{

 100%{
  transform: scale(1) translateY(0);
  opacity: 1;
 }
}

.site-title {
  color:#e3ecfc;
  text-align: center;
  font-family: 'Sonsie One', cursive;
}

.site-subtitle {
 font-style: italic;
  color:#e3ecfc;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  line-height: 1.8em;
}

div {
  text-align: center;
}


.disciplinas,
.contato,
.pesquisa,
.sobre{
  padding: 2em;
  min-height: 100vh;
}

.pesquisa h2,
.disciplinas h2,
.contato h2,
.sobre h2 {
  padding-bottom: 1em;
}

.image{
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: left top;
  border-radius: 10%;
  margin: 1em;
  transition: transform, 500ms;
}

.image:hover{
  transform: scale(1.2);
}
p{
  font-family: 'Source Code Pro', monospace;
  color: #e3ecfc;
  justify-content: flex-start;
  padding: 0.2em;
}

.botao{
  display: flex;
  justify-content: space-around;
  padding: 0.5em;
}

.botao a{
  background-color: #e3ecfc;
  display: block;
  padding: 10px 20px;
  color: #05668D;
  text-decoration: none;
  font-weight: 800;
  border-radius: 10px;
  transition: background-color, color, 1s;
}

.botao a:active,
.botao a:hover{
  background-color:#028090 ;
  color: #e3ecfc;
  box-shadow: 5px 5px 10px #e3ecfc ;
}

.contato a{
  text-decoration: none;
  color: #e3ecfc;
  font-size: 3em;
  transition: text-shadow, 0.5s;
}

.contato a:active,
.contato a:hover{
  text-shadow: 0px 0px 10px #e3ecfc ;
}

.grid-icons{
  padding-top: 3em;
}