body {
  background: #5B8A71;
  background-size: auto 100vh; 
  font-family: Arial;
  height: 100vh;
}

.menu {
  background-color:#e3ecfc;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  font-size: 200%;
  list-style: none;
}

a {
  color:#457950;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle, 
.site-title {
  color:#e3ecfc;
  text-align: center;
}

.site-subtitle {
 font-style: italic;
}